.container {
    --min-width: 50em;
    width: min(var(--min-width), 80%);
    margin-inline: auto;
    display: grid;
    place-items: center;
    background: #d1c5c5;
    border-radius: 4px;
}

.form-container {
    margin-block-start: 2rem;
    padding-bottom: 2em;
}

.input-section {
    display: flex;
    gap: 1rem;

    align-items: center;
}
input {
    font-size: 1.1rem;
    padding: 0.3rem 0.5rem;
    border-radius: 4px;
    border: none;
}

ul[role='list'] {
    text-decoration: none;
}

.form-heading {
    text-align: center;
}
